@import "styles/mixins";

.container {
  margin-bottom: 8px;
}

.item {
  display: grid;

  @include small {
    flex-direction: column;
    gap: 4px;
  }

  @include notSmall {
    gap: 0 8px;
    grid-template-columns: auto 1fr;
  }
}

.reverse {
  flex-shrink: 0;
  @include notSmall {
    grid-column: 1;
    grid-row: 1;
  }
}

.text {
  @include notSmall {
    grid-column: 2;
    grid-row: 2;
  }
}

