.chip {
  background: $gray;
  border-radius: 18px;
  padding: 4px 15px;;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 2px;
}

.active {
  background: $blue;
  color: $white;
}
