@import "reset";
@import "vars";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Hind', sans-serif;
  color: $black;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

a {
  color: $gray;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

ul {
  list-style: disc;
  padding: 0 16px;
}
